<div>
  <p>
    <%= @company.team.name.titleize %> ​<b>will<%= @company.funded? ? '' : ' not' %></b> be funding ​<i><%= @company.name %></i>!<br>
    <%= (@yes_percent * 100).round(0) %>% voted to fund, with <%= @stats[:yes_votes] %> in favor and <%= @stats[:no_votes] %> against.
  </p>
</div>

<div>
  <p>Averages for each metric are found below.</p>
</div>

<div>
  <table>
    <tr>
      <% @stats[:averages].each do |met, _| %>
        <th><%= met %></th>
      <% end %>
    </tr>
    <tr>
      <% @stats[:averages].each do |_, val| %>
        <td><%= val.round(1) %></td>
      <% end %>
    </tr>
  </table>
</div>

<% if @stats[:yes_votes] > 0 %>
  <div>
    <p>A summary of the positive responses is as follows.</p>
  </div>
  <div>
    <% @company.votes.yes.each do |vote| %>
      <p><%= vote.reason %></p>
    <% end %>
  </div>
<% end %>

<% if @stats[:no_votes] > 0 %>
  <div>
    <p>A summary of the negative responses is as follows.</p>
  </div>
  <div>
    <% @company.votes.no.each do |vote| %>
      <p><%= vote.reason %></p>
    <% end %>
  </div>
<% end %>
