<div>
  <p>
    Your vote is <% if @late %>late<% else %>needed<% end %> for the final funding decision of <i><%= @company.name %></i>!
    The deadline
    <%- if @late -%>
      was <%= distance_of_time_in_words(@deadline, @company.team.time_now) %> ago.
    <%- else -%>
     is in <%= distance_of_time_in_words(@company.team.time_now, @deadline) %>.
    <%- end -%>
  </p>
  <p>
    Please go to the
    <a href="<%= company_url(id: @company.id) %>">voting page for <%= @company.name %></a>
    and submit your vote now.
  </p>
</div>
