<% content_for :preview do %>
  Welcome to VCWiz! This email will help you get started.
<% end %>

<% content_for :header do %>
  Welcome to VCWiz!
<% end %>

<% content_for :subheader do %>
  We can't wait to help you dive in <%= @founder.first_name %>
<% end %>

<% content_for :content do %>
  <div>
    <p>
      Thanks for signing up for VCWiz—we're so excited to have you on board!
      You can use the tool at <a href="https://<%= ENV['MARKETING_DOMAIN'] %>"><%= ENV['MARKETING_DOMAIN'] %></a> to search and filter firms, research individual investors, and plan your outreach.
    </p>

    <p style="text-align: center;">
      <img style="width: 85%;" src="https://<%= "#{ENV['MARKETING_DOMAIN']}#{image_path('tutorials/VCWiz1.gif')}" %>" />
    </p>

    <p>
      VCWiz can help facilitate introductions from right in the app, and can even scan your email (if you want!) to keep the Conversations Tracker up-to-date.
      Check out the <a href="<%= external_vcwiz_outreach_url %>">Conversations Tracker page</a> for more details.
    </p>

    <p style="text-align: center;">
      <img style="width: 85%;" src="https://<%= "#{ENV['MARKETING_DOMAIN']}#{image_path('tutorials/VCWiz6.gif')}" %>" />
    </p>

    <h2 style="margin-bottom: 1.5em;">One more thing!</h2>

    <p>
      We have an awesome new feature that I'm super excited to share with you.
      VCWiz is now able to map out your professional graph, and figure out the best "intro path" to any investor.
      Just enable VCWiz Link, and we'll figure out who each of your contacts can best intro you to.
    </p>
    <p>
      Sound great? Click <a href="<%= external_vcwiz_gmail_auth_url %>"><b>here</b></a> to enable the scanner!
      Don't worry, no human will ever read your emails, and VCWiz will never use your inbox for anything without your permission.
    </p>

    <p>
      If you have any questions, feel free to respond to this email. I'm
      <a href="https://www.linkedin.com/in/yasyfmohamedali">Yasyf</a>,
      the creator of VCWiz, and I'll do my best to help!
    </p>
  </div>
<% end %>