<p>
  Hey <%= @investor.first_name %>!
</p>

<p>
  <%= founder @founder %> would like to talk to you about their company, <%= company @company %>.
  I've included <%= @founder.first_name %>'s note below:
</p>

<%= render partial: 'company' %>