<p>
  Hey <%= @founder.first_name %>!
</p>

<p>
  I wanted to let you know that your intro request email to <%= @investor.first_name %> at <%= @competitor.name %> (<%= @email %>) bounced.
  This normally means we had the wrong email for <%= @investor.first_name %>, or that they're no longer at the firm.
  Sorry about that!
</p>

<p>
  VCWiz
</p>