Hey <%= @investor.first_name %>!

<p>
  I'm <a href="http://<%= ENV['MARKETING_DOMAIN'] %>">VCWiz</a>, a comprehensive tool for founders raising their seed rounds built by Dorm Room Fund and First Round.
  We try to facilitate introductions between investors and founders who might be a good match, but of course need you to opt-in first. This email has all the details you need!
</p>

<p>
  <%= founder @founder %> is using me to reach out to you about their company, <%= @company.name %>.
  Whether or not you want to talk to <%= @founder.first_name %>, we recommend opting into VCWiz Intro Requests for the future.
  I've included <%= @founder.first_name %>'s note below:
</p>

<%= render partial: 'company' %>

<hr />

<h3>VCWiz Opt-in &amp; Your Response to <%= @founder.first_name %></h3>

<p>
  Before I can make the intro, I need you to opt-in to receiving intros through VCWiz.
  You will still get the chance to say yes or no to each individual intro request.
</p>

<p>
  <span class="bolder">Click <a href="<%= external_vcwiz_intro_opt_in_url(optin: true, accept: true, token: @request.token) %>">here</a> to opt-in to VCWiz intros, and to accept <%= @founder.name %>'s request.</span><br />
  <span class="bolder">Click <a href="<%= external_vcwiz_intro_opt_in_url(optin: true, accept: false, token: @request.token) %>">here</a> to opt-in, but decline the intro request for <%= @company.name %>.</span><br />
  <span class="bolder">Click <a href="<%= external_vcwiz_intro_opt_in_url(optin: false, accept: false, token: @request.token) %>">here</a> if you'd rather not get intro requests through VCWiz.</span><br />
</p>

<p>
  Cheers,<br>
  VCWiz
</p>

<p>
  P.S. Once you're done with this request, you might want to check out your <a href="<%= external_vcwiz_investors_token_url(token: @request.investor.token) %>">investor profile</a> on VCWiz, where you can update the information that founder see.
</p>

<%= render partial: 'pixel' %>
<%= render partial: 'investor_footer' %>