Hey <%= @investor.first_name %>!

<p>
  <%= @founder.name %> would like to talk to you about their company, <%= @company.name %>.
  Respond "yes" or "no" to quickly deal with this request.
  Details about the company are below.
</p>

<%= render partial: 'company' %>

<p>
  Click <a href="<%= subdomain_external_vcfinder_decide_url(accept: true, token: @request.token) %>">here</a> to accept <%= @founder.name %>'s request,
  or <a href="<%= subdomain_external_vcfinder_decide_url(accept: false, token: @request.token) %>">here</a> to reject it.
</p>