<div class="list-group-item-heading companies--list-group-item-heading">
  <p class="companies--large-heading text-<%= company_class(company) %>">
    <%= company.name %>
  </p>
  <p class='companies--sub-heading' title="Quorum at <%= company.stats["required_votes"] %>">
    <%= company.pitch_on.to_s(:long) %>
  </p>
  <p class='companies--sub-heading'>
   <%= company.partner_initials.join(', ') %>
  </p>
</div>
<div class="list-group-item-text">
  <% if company.past_deadline? %>
    <%= render partial: 'shared/stats', locals: {vote: company.vote_for_user(current_user), stats: company.stats} %>
  <% elsif company.pitched? %>
    <% vote = company.user_votes(current_user).first %>
    <p class='companies--heading'>
      <% if vote.blank? %>
        You have not yet voted.
      <% elsif vote.final? %>
        You have submitted your final vote.
      <% else %>
        You have submitted your pre-vote.
      <% end %>
    </p>
  <% else %>
    <p class='companies--heading'>
      Pitch has not yet occured.
    </p>
  <% end %>
</div>
