<% title 'All Companies' %>

<% @lists.each do |list, companies| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1><%= list.name %></h1>
    </div>
    <div class="panel-body">
      <%= form_tag "", method: :get, class: 'companies--filter-form' do %>
        <%= text_field_tag :filter, params[:filter], placeholder: 'Filter...', class: 'form-control companies--filter-input', autocomplete: :off %>
      <% end %>
    </div>
    <div class="list-group">
      <% companies.each do |company| %>
        <a class="list-group-item companies--item" href="https://trello.com/c/<%= company.trello_id %>" target="_blank">
          <div class="list-group-item-heading companies--list-group-item-heading">
            <p class="companies--large-heading text-<%= company_class(company) %>">
              <%= company.name %>
            </p>
            <% if company.pitched? %>
              <p class='companies--sub-heading'>
                <%= company.pitch_on.to_s(:long) %>
              </p>
            <% end %>
            <p class='companies--sub-heading'>
             <%= company.partner_initials.join(', ') %>
            </p>
          </div>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
