<% title @company.name %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-<%= company_class(@company) %>"><%= @company.name %></h1>
  </div>
  <div class="panel-body">
    <% if @company.snapshot_link.present? %>
      <a class="btn btn-default" href="<%= @company.snapshot_link %>" role="button" target="_blank">
        <h4>View Snapshot</h4>
      </a>
    <% end %>
    <% if @company.past_deadline? %>
      <% if @vote.present? %>
        <a class="btn btn-default" href="<%= company_vote_path(@company, @vote) %>" role="button">
          <h4>View Your Vote</h4>
        </a>
      <% else %>
        <h4>You did not vote for this pitch</h4>
      <% end %>
    <% else %>
      <h4>
        <% if @company.passed? %>
          We passed on this company without seeing a pitch
        <% else %>
         This company is in the pipeline
        <% end %>
      </h4>
    <% end %>
  </div>
  <div class="list-group">
    <a class="list-group-item companies--item" href="#">
      <div class="row">
        <div class="col-sm-6">
          <%= render partial: 'shared/stat', locals: {name: 'RDV Funded', value: @company.rdv_funded?} %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'shared/stat',
            locals: {name: 'Raised', value: @company.capital_raised(format: true)} %>
        </div>
      </div>
    </a>
    <% if @company.past_deadline? %>
      <a class="list-group-item companies--item" href="#">
        <%= render partial: 'shared/stats', locals: {vote: @vote, stats: @company.stats} %>
      </a>
    <% end %>
    <% @company.votes.final.each do |vote| %>
      <a class="list-group-item companies--item" href="<%= company_vote_path(@company, vote) %>">
        <%= vote.reason %>
      </a>
    <% end %>
  </div>
</div>
