<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>

  <%= include_gon(camel_case: true, init: true) %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>

  <%= stylesheet_link_tag 'external/application', media: 'all' %>

  <% if content_for?(:pack) %>
    <%= stylesheet_pack_tag "external/#{yield(:pack)}" %>
  <% end %>

  <% if content_for?(:styles) %>
    <%= stylesheet_link_tag "external/#{yield(:styles)}", media: 'all' %>
  <% end %>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-sham.min.js"></script>
    <script src="https://wzrd.in/standalone/es7-shim@latest"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <% if Rails.env.production? && content_for?(:logrocket) %>
    <%= logrocket_key(yield(:logrocket)) %>
  <% end %>

  <%= javascript_include_tag 'external/application' %>

  <%= javascript_pack_tag 'shared' %>

  <% if content_for?(:pack) %>
    <%= javascript_pack_tag "external/#{yield(:pack)}" %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <% foundation_flashes.each do |(type, message)| %>
    <div class="callout <%= type %>" data-closable>
      <h5><%= message %></h5>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
